<h1> update class</h1>
<form action="/update" method="POST"> 
    Id: <input type="text" name="id" value="<%= lops.id%>"><br>
    Phone: <input type="text" name="Phone"value="<%= lops.Phone%>"><br>
    Password: <input type="text" name="Password"value="<%= lops.Password%>"><br>
    TypeRegister: <input type="text" name="TypeRegister"value="<%= lops.TypeRegister%>"><br>
    Fullname: <input type="text" name="Fullname"value="<%= lops.Fullname%>"><br>
    TypeUser: <input type="text" name="TypeUser"value="<%= lops.TypeUser%>"><br>
    IdProvince: <input type="text" name="IdProvince"value="<%= lops.IdProvince%>"><br>
<button type="submit">update class</button> 
</form>
